<div class="modal-content" style="width: 50em;">
	<div class="modal-header">
		<h4 class="modal-title">View Template Details</h4>
	</div>
	<div class="modal-body">
		<table style="width:100%">
			<tr>
				<td width="50%" style="padding: 0 1em 0 0;">
					<div class="form-group">
						<label for="templateName">Name</label> 
						<input type="text" class="form-control" id="templateName" placeholder="Template Name">
					</div>
					<div class="form-group">
						<label for="templateDescription">Description</label> 
						<input type="text" class="form-control" id="templateDescription" placeholder="Template Description">
					</div>
					<div class="form-group">
						<label for="inactivityPeriod">Inactivity Period</label> 
						<input type="text" class="form-control" id="inactivityPeriod" placeholder="Inactivity Period (in seconds)">
					</div>
				</td>
				<td width="50%"  style="padding: 0 0 0 1em;">
					<div class="form-group">
						<label for="templateTags">Tags</label> 
						<input type="text" class="form-control" id="templateTags" placeholder="Tags (type and press Enter)">
					</div>
					<div class="form-group">
						<label for="templateProperties">Properties</label> 
						<textarea class="form-control" id="templateProperties" rows="5"></textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<table id="metrics" class="table table-striped table-bordered table-sm">
						<caption>
							<label><strong>Metrics</strong></label>
							<button class="btn btn-primary pull-right">New Metric</button>
						</caption>
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Abbreviation</th>
								<th scope="col">Unit</th>
								<th scope="col">Data Type</th>
								<th scope="col">Description</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
					</table>
				</td>
			</tr>
		</table>
	</div>
</div>
<script type="text/javascript" src="pages/template/view.js"></script>

